In [ ]:
import pandas as pd
data = pd.read_csv("prize.csv")

In [26]:
roger = data.loc[56]
print(f"{roger.firstname} {roger.surname} won a prize for {roger.category}")

Roger Penrose won a prize for physics

In [30]:
print(data[data.year == 2000])

     year    category   id  firstname     surname  \
293  2000   chemistry  729       Alan      Heeger
294  2000   chemistry  730       Alan  MacDiarmid
295  2000   chemistry  731     Hideki   Shirakawa
296  2000   economics  732   James J.     Heckman
297  2000   economics  733  Daniel L.    McFadden
298  2000  literature  734   Xingjian         Gao
299  2000       peace  725        Kim    Dae-jung
300  2000     physics  726     Zhores     Alferov
301  2000     physics  727    Herbert     Kroemer
302  2000     physics  728       Jack       Kilby
303  2000    medicine  722      Arvid    Carlsson
304  2000    medicine  723       Paul   Greengard
305  2000    medicine  724       Eric      Kandel

                                            motivation  share
293  "for the discovery and development of conducti...      3
294  "for the discovery and development of conducti...      3
295  "for the discovery and development of conducti...      3
296  "for his development of theory and methods for...      2
297  "for his development of theory and methods for...      2
298  "for an œuvre of universal validity, bitter in...      1
299  "for his work for democracy and human rights i...      1
300  "for developing semiconductor heterostructures...      4
301  "for developing semiconductor heterostructures...      4
302  "for his part in the invention of the integrat...      2
303  "for their discoveries concerning signal trans...      3
304  "for their discoveries concerning signal trans...      3
305  "for their discoveries concerning signal trans...      3

In [31]:
print(data[data.category == 'economics'])

     year   category    id   firstname    surname  \
3    2024  economics  1044       Daron   Acemoglu
4    2024  economics  1045       Simon    Johnson
5    2024  economics  1046       James   Robinson
15   2023  economics  1034     Claudia     Goldin
26   2022  economics  1021         Ben   Bernanke
..    ...        ...   ...         ...        ...
589  1972  economics   682  Kenneth J.      Arrow
597  1971  economics   680       Simon    Kuznets
603  1970  economics   679     Paul A.  Samuelson
613  1969  economics   677      Ragnar     Frisch
614  1969  economics   678         Jan  Tinbergen

                                            motivation  share
3    "for studies of how institutions are formed an...      3
4    "for studies of how institutions are formed an...      3
5    "for studies of how institutions are formed an...      3
15   "for having advanced our understanding of wome...      1
26        "for research on banks and financial crises"      3
..                                                 ...    ...
589  "for their pioneering contributions to general...      2
597  "for his empirically founded interpretation of...      1
603  "for the scientific work through which he has ...      1
613  "for having developed and applied dynamic mode...      2
614  "for having developed and applied dynamic mode...      2

[96 rows x 7 columns]

In [57]:
print(data[data.surname.str.contains("Curie", na=False)])

     year   category   id firstname       surname  \
830  1935  chemistry  194     Irène  Joliot-Curie
944  1911  chemistry    6     Marie         Curie
996  1903    physics    5    Pierre         Curie
997  1903    physics    6     Marie         Curie

                                            motivation  share
830  "in recognition of their synthesis of new radi...      2
944  "in recognition of her services to the advance...      1
996  "in recognition of the extraordinary services ...      4
997  "in recognition of the extraordinary services ...      4

In [ ]:
def search_nobel_laureate(data, search_surname):
    search_surname = search_surname.lower()
    
    matches = data[data.surname.str.lower().str.contains(search_surname, na=False)]
    
    if len(matches) == 0:
        print(f"No Nobel laureates found with surname containing '{search_surname}'")
    else:
        print(f"Found {len(matches)} Nobel Prize record(s) matching '{search_surname}':\n")
        
        for i, row in matches.iterrows():
            print(f"Name: {row.firstname} {row.surname}")
            print(f"Year: {row.year}")
            print(f"Category: {row.category}")
            print(f"Motivation: {row.motivation}")
            print("-" * 70)

search_term = input("Enter a surname to search for: ")
search_nobel_laureate(data, search_term)

Found 4 Nobel Prize record(s) matching 'curie':

Name: Irène Joliot-Curie
Year: 1935
Category: chemistry
Motivation: "in recognition of their synthesis of new radioactive elements"
----------------------------------------------------------------------
Name: Marie Curie
Year: 1911
Category: chemistry
Motivation: "in recognition of her services to the advancement of chemistry by the discovery of the elements radium and polonium, by the isolation of radium and the study of the nature and compounds of this remarkable element"
----------------------------------------------------------------------
Name: Pierre Curie
Year: 1903
Category: physics
Motivation: "in recognition of the extraordinary services they have rendered by their joint researches on the radiation phenomena discovered by Professor Henri Becquerel"
----------------------------------------------------------------------
Name: Marie Curie
Year: 1903
Category: physics
Motivation: "in recognition of the extraordinary services they have rendered by their joint researches on the radiation phenomena discovered by Professor Henri Becquerel"
----------------------------------------------------------------------

In [58]:
print(data[data.firstname == 'David'])

     year   category    id firstname    surname  \
0    2024  chemistry  1039     David      Baker
38   2021  chemistry  1003     David  MacMillan
39   2021  economics  1007     David       Card
48   2021   medicine   997     David     Julius
318  1998      peace   567     David    Trimble
558  1975   medicine   406     David  Baltimore

                                            motivation  share
0                   "for computational protein design"      2
38   "for the development of asymmetric organocatal...      2
39   "for his empirical contributions to labour eco...      2
48   "for their discoveries of receptors for temper...      2
318  "for their efforts to find a peaceful solution...      2
558  "for their discoveries concerning the interact...      3

In [61]:
print(len(data[data.firstname == 'David']))

6

In [64]:
print(data.category.unique())

['chemistry' 'economics' 'literature' 'peace' 'physics' 'medicine']

In [66]:
print(data.category.value_counts())

category
medicine      229
physics       227
chemistry     197
peace         142
literature    121
economics      96
Name: count, dtype: int64