# 1

In [3]:
for i in range(0,7):
    print('Cole')

Cole
Cole
Cole
Cole
Cole
Cole
Cole

# 2

In [6]:
i = 0
while i < 7:
    print('Cole')
    i += 1

Cole
Cole
Cole
Cole
Cole
Cole
Cole

# 3

In [11]:
for i in range(1,100):
    if i % 11 == 0:
        print(i)

11
22
33
44
55
66
77
88
99

# 4

In [12]:
i = 1
while i < 100:
    if i % 11 == 0:
        print(i)
    i += 1

11
22
33
44
55
66
77
88
99

# 5

In [13]:
for i in range(1,20):
    if i % 2 == 1:
        print(i)

1
3
5
7
9
11
13
15
17
19

# 6

In [15]:
i = 1
while i < 20:
    if i % 2 == 1:
        print(i)
    i += 1

1
3
5
7
9
11
13
15
17
19

# 7

In [17]:
for i in range(1,17):
    if 1 <= i <= 8:
        print(i)
    if 13 <= i <= 16:
        print(i)

1
2
3
4
5
6
7
8
13
14
15
16

# 8

In [21]:
i = 1
while i < 17:
    if 1 <= i <= 8:
        print(i)
    if 13 <= i <= 16:
        print(i)
    i += 1

1
2
3
4
5
6
7
8
13
14
15
16

# 9

In [23]:
for i in range(0,5):
    print('X', end='')

XXXXX

# 10

In [79]:
for i in range(0,5):
    print(5*'X', end='')
    print()

XXXXX
XXXXX
XXXXX
XXXXX
XXXXX

# 11

In [77]:
for i in range(1,6):
    print(i*'X', end='')
    print()

X
XX
XXX
XXXX
XXXXX

# 12

In [82]:
for i in range(5,0,-1):
    k = 6-i
    print(i*'X', end='')
    print()
    print(k*' ', end='')

XXXXX
 XXXX
  XXX
   XX
    X

# 13

In [76]:
for i in range(0,5):
    print(i*' ',end='')
    print('Cole')

Cole
 Cole
  Cole
   Cole
    Cole

# 14

In [87]:
for i in range(0,5):
    j = 4-i
    print('|', end='')
    print(i*' ', end='')
    print('0', end='')
    print(j*' ', end='')
    print('|')

|0    |
| 0   |
|  0  |
|   0 |
|    0|